.cartIcon {
    position: relative;
    display: inline-block;
}

.cartCount {
    position: absolute;
    top: -3px;
    right: 91px;
    background-color: red;
    color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    padding: 2px 6px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 12.19px;
}