.modalBackdrop {
  position: absolute;
  margin-top: 380px;
  left: 465;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #fff;
  padding: 20px;
  width: 241px;
  height: 312px;
  box-shadow: 0 4px 6px #0003;
}

.modalHeader {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputLabel {
  display: block;
  margin-bottom: 9px;
  font-weight: bold;
}

.inputField {
  border: 1px solid #ccc;
  font-weight: 700;
  width: 176px;
  height: 35px;
  padding: 0px 0px 0px 7px;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 700;
  line-height: 9.75px;
}

.loginButton {
  width: 176px;
  height: 32px;
  background: #9e98dc;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 42px;
}
