.profileContainer {
    padding: 20px;
    margin-top: 87px;
  }
  
  .userInfoAndAbout {
    display: flex;
    justify-content: space-between; 
    margin-top: 12px; 
    gap: 20px; 
  }
  
  .userInfo {
    display: flex;
    gap: 17px; 
  }
  
  .profileImage {
    width: 235px;
    height: 235px;
  }
  
  .userDetails {
    display: flex;
    flex-direction: column;
  }
  
  .infoBlock {
    display: flex;
    flex-direction: column; 
  }
  
  .infoTitle {
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
    margin-bottom: 8px;
    
  }
  
  .infoValue {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    margin-bottom: 25px;
   
    
  }
  
  .editButton {
    margin-top: 41px;
    color: #4c3db2;
    cursor: pointer;
    border: 1px solid #4c3db2;
    width: 176px;
    height: 45px;
    background-color: white;
  }
  
  
  .aboutMe {
    width: 353px;
    height: 345px;
    background-color: #ffe4e1;
  
  }
  
  .aboutMeTitle {
    font-family: Montserrat;
    text-align: center;
    margin-top: 17px;
    font-size: 12px;
    font-weight: bold;
    line-height: 14.63px;
    
  }
  
  .aboutMeText {
    margin-left: 29px;
    margin-top: 29px;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    color: rgba(92, 106, 121, 1);
  }
  